.studio-container{
    width: 40%;
    height: auto;
    /* background-color: aqua; */
    align-items: center;
    margin-left: 27%;
    /* overflow: hidden; */
}


.studio-navbar{
    width: 100%;
    background-color: rgb(100, 100, 225);
    height: 40px;
    margin-top: 10px;
}

.left-navbar{
    width: 40%;
    height: 40px;
    background-color: #f6eee4;
    float: left;
}

.arrow{
 height: 25px;
 text-align: center;
 margin-top: 8px;
 margin-left: 10px;
 float: left;
}
.arrow:hover{
    scale: 1.15;
}
.header-title{
    width: 60px;
    float: left;
    margin-left: 50px;
    margin-top: 11px;
    font-weight: bolder;
    font-size:large;
}
.header-title:hover{
   scale: 1.15;
}

.right-navbar{
    width: 60%;
    height: 40px;
    background-color: #f6eee4;
    float: left;
}

.right-navbar-a{
    height: 30px;
    margin-left: 160px;
    float: left;
    margin-top: 5px;

}
.right-navbar-a:hover{
   
    scale: 1.15;
}

.right-navbar-setting{
    height: 40px;
    margin-left: 20px;
    float: left;
}
.right-navbar-setting:hover{
    scale: 1.15;
}

.right-navbar-search{
    height: 30px;
    float: left;
    /* width: auto; */
    margin-left: 20px;
    margin-top: 5px;
}
.right-navbar-search:hover{
   scale: 1.15;
}
.B-container{
     font-family: sans-serif;
     font-size: 25px;
     margin: 25px 12px 10px 20px;
     font-weight: bolder;
}


.image-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;

    scrollbar-width: none; 
   
}

.image-scroll-container img {
    margin-right: 10px;
    width: 110px; /* Adjust as needed */
    height: auto;
    flex-shrink: 0;
}
.image-scroll-container img:hover {
   scale: 1.08;
}

.C-container{
    font-weight: 600;
    font-size: bold;
    font-size: 25px;
    margin-left: 20px;
}
.D-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;

    scrollbar-width: none; 
   
}
.D-container>img {
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 10px;
   
}

.D-container>img:hover{
    scale: 1.05;
}
.EStudio-container{
    width: 100%;
    height: 40px;
    /* border: 2px solid black; */
}

.EA-container{
    width: 100%;
    /* margin-left: 10px; */
    /* float: left; */
}
.EP-container{
    width: 40px;
    float: left;
    border-radius: 20px;
}

.EName-container{
    width: 110px;
    float: left;
    margin-top: 2px;
    margin-left: 20px;

}
.EName-container{
    
    cursor: pointer; 
}

.follow{
    margin-left: 5px;
    float: left;
    color: blue;
    font-weight: bold;
}
.follow:hover{
    scale: 1.15;
    cursor: pointer;
}

.Eimg{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
   

}
.EimgA{
    height: 500px;
    margin-left: 10px;
   
}
.EimgA:hover{
    scale: 1.15;
    cursor: pointer;
   
}