.flex{
    display: flex;
}

.items-center{
    align-items: center;
} 

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.upperclass{
    text-transform: uppercase;
}

.semibold{
    font-weight: bolder;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
    
    
    
    
}
.mx-2 a{
    text-decoration: none;
}

.full-container{
    background-color: #f1f1f1;
}

.section1{
    background-color: #f1f1f1;
    height: 63vh;
    /* border: 2px solid red; */
}   

footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.men:hover{
    scale: 1.1;
    color: #2c74f9;
}
.women:hover{
    scale: 1.1;
    color: #2c74f9;
}
.kid:hover{
    scale: 1.1;
    color: #2c74f9;
}
.homeLiving:hover{
    scale: 1.1;
    color: #2c74f9;
}
.beauty:hover{
    scale: 1.1;
    color: #2c74f9;
}
.studi:hover{
    scale: 1.1;
    color: #2c74f9;
}
.myntraLogo:hover{
    scale: 1.2;
}


