.l-container{
    width: 100%;
    overflow: hidden;
    
}
.l-A-container{
    width: 100%;
    overflow: hidden;
    /* border: 2px solid black; */
}
.hl-img{
    width: 100%;
    overflow: hidden;
    /* border: 2px solid black; */
}

.text-banner-container{
    width: 100%;
    height: auto;
}
.product-image{
    width: 700px;
    margin-left: 40px;
}
.l-B-container{
   
    width: 100%;
    height: auto;
    
}

.product-image:hover{
    scale: 1.05;
}