.K-container{
  width: 100%;
  height: auto;
  overflow: hidden;
 
}

.K-F-container{
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
  overflow: hidden; 
  display: flex;
  margin-top: 15px;
 
}

.K-F-img{
  width: 100%;
  height: auto;
  overflow: hidden; 
}
.K-B-container{
  width: 100%;
  height: auto;
}
.K-B-1{
  height: 170px;
  margin-left: 48px;
}
.text-banner-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  /* height: 100px; */
  margin-top: 20px;
  font-size: 2.5em;
  margin-left: 80px;
  font-weight:normal;
  
}
.K-C-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 9px;
  overflow: hidden;
  /* height: 100px; */
  margin-top: 20px;
  
}

.K-first>img {
  width: 300px;
  height: 318px; /* This will maintain the aspect ratio */
  margin-top: 10px;
  
}

.K-B-1:hover{
  
  scale: 1.4;
}

